<div class="page-header">
  <%= link_to new_musictrack_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Musictrack
  <% end %>
  <h1>Listing musictracks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @musictracks) do |musictrack| %>
            <td><%= link_to 'Show', musictrack %></td>
        <td><%= link_to 'Edit', edit_musictrack_path(musictrack) %></td>
        <td><%= link_to 'Destroy', musictrack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
